/*- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

body {
  font-family: Arial, sans-serif;
  background-color: #134B70;
}

.header {
  background-color: #16325B;
}

.nav-link {
  color: #EEDF7A;
}

.nav-link:hover {
  color:white;
}


.card-body {
  background-color: #EEF7FF;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02); /* Sedikit memperbesar kartu */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Menambahkan bayangan */
}

.footer {
  background-color: #201E43;
  color:white;
}
